* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f7f7;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(231, 64, 142);
    color: #fff;
}

.navbar .logo {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.carrinho {
    position: relative;
}

.carrinho a {
    text-decoration: none;
    color: #fff;
}

.carrinho-icon {
    width: 24px;
    height: 24px;
}

#contadorCarrinho {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
}

/* Container e Cards */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
}

.cards {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.card img {
    width: 240px;
    height: 240px;
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
    border-radius: 8px;
}

.card h3 {
    margin: 0.5rem 0;
}

.card .preco {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0.5rem 0;
}

.card button {
    padding: 0.5rem 1rem;
    background-color: rgb(243, 57, 57);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table th, table td {
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: left;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin-top: 1rem;
}

form input, form textarea, form button {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-height: 80%;
    overflow-y: auto;
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 1rem;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.close-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px
}
  
.fechar-icon{
    width: 12px; 
    height: 12px; 
}